html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Blop decoration */

.blop-top-right {
  position: fixed;
  z-index: -99;
  width: 250px;
  height: 223px;
  background-image: url('../images/blob-top-right.png');
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.blop-bottom-left {
  position: fixed;
  z-index: -99;
  width: 250px;
  height: 199px;
  background-image: url('../images/blop-bottom-left.png');
  background-position: left;
  background-repeat: no-repeat;
  bottom: -25px;
  left: 0;
}


/* MUI select default style reset */
.MuiOutlinedInput-notchedOutline {
  border-color: #293264 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #D6DBF5 !important;
}