@import './reset/reset';
@import './base/base.scss';
@import './mixins/mixins';

/* ==========================================================================
   Layout
   ========================================================================== */
body {
    font-family: $font-family-default;
    font-size: $fs-400;
    font-weight: $fw-regular;
    min-height: 100vh;
    background: linear-gradient(90deg, hsla(210, 20%, 98%, 1) 0%, hsla(210, 20%, 98%, 1) 50%, hsla(210, 20%, 98%, 1) 100%);
}

nav {
    background-color: $clr-primary-900;
    @include flex-row-content-center;
    min-height: 100px;
    max-height: 200px;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/* ==========================================================================
   Images & media
   ========================================================================== */

/* ==========================================================================
   Components
   ========================================================================== */

// HomeHeader
@import './components/HomeHeader';

// BeforeSearch
@import './components/BeforeSearch';

// Loader
@import './components/Loader';

// SearchResults
@import './components/SearchResults';

// WatchlistHeader
@import './components/WatchlistHeader';

// MovieCard
@import './components/MovieCard';

// UpdateWatchlistBtn (ButtonAdd + ButtonRemove)
@import './components/UpdateWatchlistBtn';

// Footer
@import './components/_Footer';


/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

   @media (max-width: 1200px) {
    .home-header__container {
        grid-template-columns: 1fr 500px 1fr;
    }

    .search-form{
        width: 500px;
    }

    .card-movie {
        width: 500px;
    }
}


   @media (max-width: 850px) {
    body {
        min-height: 100vh;
    }

    .home-header__container {
        padding: 0 1.5rem;
        margin: 1rem 0;
        grid-template-columns: 1fr minmax(100px, 150px) 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo . link"
            ".search-form.search-formform";
        gap: 0.5rem;
        align-items: center;
        width: 500px;
    }

    .container-header-flex {
        min-width: 100px;
    }

    .header-text-search {
        display: none;
    }

    .search-form{
        min-width: 100px;
        width: 100%;
        grid-area: form;  
    }

    .watchlist-flex {
        grid-area: link; 
    }

    .logo-img-watchlist {
        margin-right: 100%;
        max-width: 90px;
    }

    .card-movie {
        align-items: start;
        max-height: 500px;
        min-width: 300px;
    }

    .text-movie-title {
        font-size: $fs-500;
        font-weight: $fw-bold;
        width: 12rem;
    }

    #searchBtn {
        padding: 0.6em 1.8em;
    }

    .search-form__search-icon {
        margin: 0 0.5rem;
        padding: 0 0.5rem;
    }

    .movie-description {
        font-size: $fs-300;
    }

    .search-results {
        align-content: start;
        color: $clr-neutral-900;
        display: grid;
        gap: 2em;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1.5em 1em;
    }

    .card-movie {
        width: auto;
        max-width: 500px;
        min-width: 300px;
    }
}