@import './reset/reset';
@import './base/base.scss';
@import './mixins/mixins';

/* ==========================================================================
   Layout
   ========================================================================== */
body {
    font-family: $font-family-default;
    font-size: $fs-400;
    font-weight: $fw-regular;
    min-height: 100vh;
    background: linear-gradient(90deg, hsla(210, 20%, 98%, 1) 0%, hsla(210, 20%, 98%, 1) 50%, hsla(210, 20%, 98%, 1) 100%);
}

nav {
   background-color: $clr-primary-900;
   @include flex-row-content-center;
   height: $height-header-desktop;
}

main {
   min-height: calc(100vh - #{$height-header-desktop} - #{$height-footer});
}

.footer {
   height: $height-footer;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/* ==========================================================================
   Images & media
   ========================================================================== */

/* ==========================================================================
   Components
   ========================================================================== */

// HomeHeader
@import './components/HomeHeader';

// BeforeSearch
@import './components/BeforeSearch';

// DataNotFound
@import './components/DataNotFound';

// EmptyWatchlist
@import './components/EmptyWatchlist';

// Loader
@import './components/Loader';

// SearchResults
@import './components/SearchResults';

// WatchlistHeader
@import './components/WatchlistHeader';

// MovieCard
@import './components/MovieCard';

// UpdateWatchlistBtn (ButtonAdd + ButtonRemove)
@import './components/UpdateWatchlistBtn';

// Footer
@import './components/_Footer';


/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */
@media (max-width: 900px) {
   main {
      min-height: calc(100vh - #{$height-header-mobile} - #{$height-footer});
   }

   nav {
      height: $height-header-mobile;
   }
}