.before-search {
    @include flex-column;
    margin: 0 auto;
    padding-top: 150px;
    gap: 0.75rem;
    
    &__label {
        font-size: $fs-500;
    }
}

@media (max-width: 800px) {
    .before-search {
        padding-top: 100px;
    }
}