.before-search {
    @include flex-column;
    margin-top: 150px;
    gap: 0.75rem;
    
    &__label {
        font-size: $fs-500;
    }
}

@media (max-width: 800px) {
    .before-search {
        margin: 100px auto 0 auto;
    }
}