.empty-watchlist {

    &__container {
    @include flex-column;
    grid-column: span 3;
    padding-top: 100px;
    gap: 1rem;
    }

    &__heading {
        color: $clr-neutral-400;
        font-weight: $fw-bold;
        font-size: $fs-600;
    }

    &__link {
    @include flex-row-content-center;
    gap: 0.5rem;
    color: $clr-primary-900;
    font-weight: $fw-bold;
    }
}

@media (max-width: 800px) {
    .empty-watchlist {
        &__container {
            margin: 100px auto 0 auto;
            max-width: 80%;
        }

        &__heading {
            text-align: center;
            font-size: $fs-500;
        }
    }
}