.loader {
    margin: 0 auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid $clr-primary-700;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;

    &__container {
      padding-top: 150px;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 800px) {
    .loader__container {
        padding-top: 100px;
    }
}
