.movie-card {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 550px;
    height: 275px;
    
    overflow: hidden;
    background: linear-gradient(90deg, hsla(220, 9%, 46%, 0.0125) 0%, hsla(340, 5%, 97%, 1) 100%);
    border: 1.5px solid #E5E7EB;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.025);
    border-radius: 9px;
    padding: 1.5rem 1.5rem 2rem 1.5rem;

    &:hover { 
        box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.05);
    }

    &__poster {
        align-self: flex-start;
        object-fit: cover;
        border-radius: 2.5px;
        margin-right: 2em;
        height: 150px;
        width: 100px;
    }

    &__title {
        font-size: $fs-600;
        font-weight: $fw-bold;
        max-width: 25ch;
    }

    &__score {
        padding-top: 0.125rem;
    }

    &__star-icon {
        min-height: 18px;
        min-width: 18px;
    }

    &__genre, &__length {
        white-space: nowrap;
    }

    &__plot {
        color: $clr-neutral-400;
        font-size: $fs-300;
        line-height: 1.5;
        grid-column: span 3;
    }
}

.u {
    &-info {
        align-self: flex-start;
    }

    &-heading {
        @include flex-row-center-spaced;
        gap: 0.25rem;
        line-height: 1;
        width: 100%;
        padding-bottom: 0.5rem; 
    }

    &-rating {
        @include flex-row-center;
        gap: 0.25rem;
    }

    &-subheading {
        @include flex-row-center;
        gap: 0.5rem;
        font-size: $fs-300;
        padding-bottom: 1rem;

        span {
            color: $clr-neutral-400;
            font-size: $fs-400;
        }
    }
}

@media (max-width: 600px) {
    .movie-card {
        grid-template-rows: auto auto;
        width: 450px;
        height: 285px;
        padding: 1.5rem 1rem;

        &__title {
            font-size: $fs-500;
            max-width: 25ch;
        }

        &__poster {
            margin-right: 1rem;
        }

        &__plot {
            padding-right: 0.5rem;
        }
    }

    .u {
        &-heading {
            padding-bottom: 0.5rem;
        }

        &-subheading {
            gap: 0.25rem;
            font-size: $fs-200;
            text-align: center;
        }
    }
}

@media (max-width: 500px) {
    .movie-card {
        width: 400px;
        height: 275px;

        &__plot {
            max-height: 125px;
            overflow-y: auto;
            margin-bottom: 0.5rem;
        }
    }

    .u {
        &-heading {
            padding-bottom: 0.25rem;
        }

        &-subheading {
            padding-bottom: 0.75rem;
        }
    }
}

@media (max-width: 450px) {
    .movie-card {
        grid-template-rows: auto 40px;
        width: 350px;
        height: 270px;
        padding: 1.5rem 0.75rem 1.5rem 0.75rem;

        &__poster {
            width: 75px;
            height: 112.5px;
            margin-right: 1rem;
        }

        &__plot {
            max-height: 120px;
            overflow-y: auto;
            margin-bottom: 0.5rem;
        }
    }
}

@media (max-width: 390px) {
    .movie-card {
        width: auto;
        min-width: 275px;
        height: 310px;

        &__genre {
            white-space: normal;
            max-height: 30px;
            max-width: 15ch;
        }

        &__plot {
            max-height: 150px;
            overflow-y: auto;
            margin-bottom: 0.5rem;
        }
    }

    .u {
        &-heading {
            padding: 0;
            margin-bottom: 0.5rem;
        }

        &-subheading {
            padding: 0;
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 350px) {
    .movie-card {
        height: 375px;

        &__plot {
            max-height: 200px;
        }
    }
}
