.search-results {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: calc(100vh - 160px);
    padding: 2.5rem 2rem;
    gap: 2rem;
    color: $clr-neutral-900;
}