.search-results {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: calc(100vh - 160px);
    margin: 0 auto;
    padding: 3rem 3rem;
    gap: 1rem;
    color: $clr-neutral-900;
}

@media (max-width: 1750px) {
    .search-results {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .search-results {
        grid-template-columns: 1fr;
    }
}