.update-watchlist-btn {
    &__container {
        @include flex-row-center;
        gap: 0.5rem;
        grid-column: span 4;
        justify-self: end;
        align-self: end;

        background-color: $clr-neutral-100;
        height: 35px;
        margin-top: 0.5rem;
        padding: 0.25rem 0.75rem;
        border-radius: 12px;
        border: 1px solid #F5CC00;

        &:hover {
            background-color:#F5CC00;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.035);;
        }
    }

    &__label {
        font-size: $fs-300;
        font-weight: $fw-bold;
    }

    &__btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__icon {
        min-width: 1.5rem;
    }
}

.btn-remove:hover {
    border: 1px solid $clr-primary-900;
    background-color: #ff0f0f;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.035);;
}


@media (max-width: 390px) {

}