.watchlist-header__container {
    @include flex-row-center-spaced;
    gap: 2.5rem;
    width: 100%;
    max-width: 1800px;
    padding: 0 5rem;

    &__logo-img {
        min-width: 75px;
        max-width: 100px;
    }
}

.search-nav {
    &__container {
        @include flex-row-center;
        gap: 0.5rem;
    }

    &__search-icon {
        fill: $clr-neutral-200;
        min-width: 25px;
    }

    &__label {
        font-size: $fs-400;
        font-weight: 600;
    }
}

@media (max-width: 1750px) {
    .watchlist-header__container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .watchlist-header__container {

    }
}