/* ==========================================================================
   Base variables
   ========================================================================== */

$clr-primary-700: hsl(50, 100%, 47%);
$clr-primary-900: hsl(0, 0%, 7%);

$clr-neutral-100: hsla(0, 0%, 100%);
$clr-neutral-200: hsl(340, 9%, 94%);
$clr-neutral-300: #F9FAFB;
$clr-neutral-400: hsla(220, 9%, 46%, 1);
$clr-neutral-900: hsla(221, 39%, 11%, 1);

$font-family-default: 'Inter', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 800;

$fs-200: 0.75rem;      /*12px*/
$fs-300: 0.875rem;     /*14px*/
$fs-400: 1rem;         /*16px*/
$fs-500: 1.125rem;     /*18px*/
$fs-600: 1.3125rem;    /*21px*/
$fs-700: 1.5rem;       /*24px*/
$fs-800: 2.625rem;     /*42px*/
$fs-900: 3rem;         /*48px*/

$height-header-desktop: 100px;
$height-header-mobile: 150px;
$height-footer: 60px;