.count-up-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #0B2434;
    border-radius: 50%;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125);
    width: 7.5vmin;
    height: 7.5vmin;
    box-shadow: 0 0 0 1vmin;
}
  